<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
    <main class="registerMain">
        <h1>Register</h1>
    <form action="/register" method="post">
          <% if(errorMsg.length){%>
            <p class="failMsg"><%=errorMsg %></p>
        <% } %>
        <input type="text" name="username" placeholder="enter a username" value="<%=failFormData.username %>" required>
        <input type="text" name="email" placeholder="enter a email" value="<%=failFormData.email %>" required>
        <input type="password" name="password" placeholder="enter password" value="<%=failFormData.password %>" required>
        <input hidden name="_csrf" value="<%= csrfToken %>">
        <button>Register</button>
    </form>
    <a href="/">back</a>
    </main>
</body>
</html>