<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <h1>Details</h1>
    <section>
        <p class="tmp">upload at : <%= time %></p>
        <h3><%= post.title %></h3>
        <img src="<%= post.image_url%>" alt="photo">
        <p><%= post.description  %></p>
        
    </section>
    <% if(isCurrentUser) { %>
        
        <form action="/admin/delete/<%= post._id %>" method="post">
        <input hidden name="_csrf" value="<%= csrfToken %>">
        <button>delete</button>
    </form>
    <div class="editbtn">
        <a href="/admin/edit/<%=post._id%>">edit</a>
    </div>
    <% } %>
    <a class="backhome" href="/">back</a>
</body>
</html>