<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="/css/detail.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body> -->
    <%- include("./includes/header") %>
    
    <section class="detailsection">
        <h1 class="detailh1">Details</h1>
        <p class="tmp"><i class="fa-sharp fa-solid fa-clock"></i> : <%= time.split(":")[0] + ":" + time.split(":")[1] %> mins</p>
        <p class="tmp"><i class="fa-solid fa-circle-user"></i> <%= post.userId.email %></p>
        <h3><%= post.title %></h3>
        <a class="saveBtn" href="/save/<%= post._id %>">save to device<i class="fa-solid fa-download"></i></a>
       </div>
        <img class="imageDetail" src="<%= '/' + post.image_url%>" alt="photo">
        <p class="detailDes"><%= post.description  %></p>
        
    <% if(isCurrentUser) { %>
        
        <form class="deleteForm" action="/admin/delete/<%= post._id %>" method="post">
        <input hidden name="_csrf" value="<%= csrfToken %>">
        <button class="deletePost">delete</button>
    </form>
    
        <a class="editbtn" href="/admin/edit/<%=post._id%>">edit</a>
    <% } %>
    </section>
</body>
</html>