<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
</head>
<body>
    <main>
        <h1>Update post</h1>
    <form action="/admin/edit/<%=post._id%>" method="post">
         <% if(errorMsg) { %>
            <p><%= errorMsg %></p>
        <% } %>
        <input type="text" value="<%=post._id %>" name="postId"  hidden>
        <input type="text" name="title" value="<%=errorMsg ? failForm.title : post.title  %>" >
        <input type="text" name="image_url" value="<%=errorMsg ? failForm.image_url : post.image_url%>">
        <textarea name="description" id="" rows="10" placeholder="description"><%=errorMsg ? failForm.description : post.description %></textarea>
         <input hidden name="_csrf" value="<%= csrfToken %>">
        <button>update</button>
    </form>
    <a href="/detail/<%=post._id%>">cancel</a>
    </main>
</body>
</html>