
    <%- include("./includes/header") %>
    <section class="homesection">
       <p class="userName"><i class="fa-duotone fa-solid fa-circle-user"></i><span ><%= account ? account : "no account"%></span></p>
        <% if(posts.length==0) { %>
            <p>not post yet</p>
        <% } %>
       <% for(p of posts) { %>
        <div class="card">
        <p class="card-username"><%= p.userId.username %></p>
        <img src="<%= p.image_url %>" alt="photo">
        <p class="homeTitle"><%= p.title %></p>
        <p class="homeDes"><%= p.description.substr(0,60) %><a href="/detail/<%= p._id%>"> seemore...</a></p>
       </div>
       <% } %>
    </section>
   <% if(posts.length !== 0) { %>
     <div class="paginations">
        <a class="nextPagination"  href="/?page=<%= nextpage %>"><%= isNext ? "next" : "end" %></a>
        <a class="previousPagination" href="/?page=<%= prepage %>"><%= isPre ? "previous" : "no pre" %></a>
    </div>
    <% } %>
</body>
</html>