<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>this is your idea</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, numquam repellat! Cum perspiciatis minus ab, quod possimus blanditiis laboriosam dolore dicta voluptatum quidem quam amet recusandae laudantium. Dolorem, reprehenderit tempore.</p>
    
    <% if(isLogin) { %>
   <div class="routeContainer">
     <a href="/admin/createPost">add post</a>
   <form action="/logout" method="post">
    <input hidden value="<%=csrfToken%>" name="_csrf">
    <button>logout</button>
   </form>
   </div>
    <% } else { %>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <% } %>
    <hr>
    </header>
    
    <section>
        <%= account %>
        <% if(posts.length==0) { %>
            <p>not post yet</p>
        <% } %>
       <% for(p of posts) { %>
        <div class="card">
        <p><%= p.userId.username %></p>
        <div>
        <h4><%= p.title%><h4>
        <a href="/detail/<%= p._id%>">seemore...</a>
        </div>
       </div>
       <% } %>
    </section>
</body>
</html>