
    <%- include("./includes/header") %>
    <section class="homesection">
       <!-- <p class="userName"><i class="fa-duotone fa-solid fa-circle-user"></i><span ><%= account ? account : "no account"%></span></p> -->
        <% if(posts.length==0) { %>
            <p>not post yet</p>
        <% } %>
       <% for(p of posts) { %>
        <div class="card">
        <div class="homeUserPf">
            <a href="/profile/<%=p.userId._id%>">
                 <% if(p.userId.profile){ %>
        <div class="profilePhotoHome">
            <img src="/<%=p.userId.profile%>" alt="">
        </div>
        <% } else { %>
        <i class="fa-solid fa-circle-user"></i>
        <% } %>
            </a>
             <a class="card-username" href="/profile/<%=p.userId._id%>">
            <% if(p.userId?.isPremium){ %>
            <i class="fa-solid fa-crown animate__animated animate__jello animate__infinite	infinite"></i>
            <%}%>
            <%= p.userId.email %></a>
        </div>
        <div class="imgContainer">
            <img src="<%= p.image_url %>" alt="photo">
        </div>
        <p class="homeTitle"><%= p.title %></p>
        <p class="homeDes"><%= p.description.substr(0,60) %><a href="/detail/<%= p._id%>"> seemore...</a></p>
       </div>
       <% } %>
    </section>
   <% if(posts.length !== 0) { %>
     <div class="paginations">
        <a class="nextPagination"  href="/?page=<%= nextpage %>"><%= isNext ? "next" : "end" %></a>
        <a class="previousPagination" href="/?page=<%= prepage %>"><%= isPre ? "previous" : "no pre" %></a>
    </div>
    <% } %>
</body>
</html>