
    <%- include("../includes/header") %>
    
   <section class="premiumStatus">
   <div class="card">
     <h1> your's io premium status</h1>
    <p><%= customer %></p>
    <p><%= customerName %></p>
    <p><%= customerEmail %></p>
    <p><%= customerCountry %></p>
    <p><%= postalCode %></p>
    <p><%= invoice_id %></p>
    <p><%= status %></p>
   </div>
   </section>
</body>
</html>